07-other-functions/src/main/mule/07-other-functions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="1e33317c-01bd-4352-8095-fe8ea7259ae2" file="myFile.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="40560fb4-c800-4dd3-98be-2520b0b9ed61" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<flow name="07-other-functionsFlow" doc:id="56f5505e-8ac7-4241-899c-68b6dd19cd32" >
		<http:listener doc:name="Listener" doc:id="2b7658a3-da7b-49ed-bcc7-5496bc1bfe95" config-ref="HTTP_Listener_config" path="/other_functions"/>
		<logger level="INFO" doc:name="Logger" doc:id="43452de2-b6cc-4194-ad9d-353665bb0539" message="#[Mule::p('test.message')]"/>
		<ee:transform doc:name="Transform Message" doc:id="b4d94681-4a53-4c07-b5c2-078d862a24cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var result = lookup("toBeCalledFlowFromDataWeave","Main Flow")

---
result]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="toBeCalledFlowFromDataWeave" doc:id="53073460-d608-48ca-8718-228703e75bb7" >
		<logger level="INFO" doc:name="Logger" doc:id="c2af8aff-0a29-4273-b9e7-e224e55135ed" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="a72a7e25-6403-468d-8a93-deac199cf3ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

import java!com::gaurav::java::calls::MyUtils
output application/json
---
{
	result: "I have been called by::" ++ payload ++ "::" ++ MyUtils::returnRandomString("Gaurav")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
